.login-bg{background:url(../img/background.1a72d265.jpg) #e0dfda;background-position-y:center;background-position-x:center;position:absolute;top:0;left:0;background-size:cover;width:100%;height:100%;opacity:.1}